# parepare dataset for QueryShare

## sample table

In [10]:
import os
import sqlite3
import pandas as pd
from sklearn import datasets
from sklearn.datasets import load_linnerud
import hashlib

In [6]:
os.chdir("/home/jovyan/QueryShare/treat_db/")
os.getcwd()

'/home/jovyan/QueryShare/treat_db'

In [8]:
conn = sqlite3.connect('data/user_db.db')

In [4]:
iris = datasets.load_iris()
iris= pd.DataFrame(iris.data)
iris.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

## tableを調査

In [5]:
iris.to_sql("iris_test", conn, if_exists="replace")
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])

linnerud_test
iris_test

# 跳躍データセットを作成する

In [10]:
linnerud = load_linnerud()
linnerud = pd.DataFrame(linnerud.data, columns=linnerud.feature_names)
linnerud

linnerud.to_sql("linnerud_test", conn, if_exists="replace")
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])

iris_test
linnerud_test

## user dataを作る

In [9]:
# dbファイルを作成
conn = sqlite3.connect('data/user_db.db')

In [ ]:
# ハッシュからID作成
hashlib.md5(b'hello hello').hexdigest()

In [ ]:
# ユーザーテーブルに使うデータを定義する
user_table = pd.DataFrame({ 'Date' : ["2018.06.29", "2018.06.29","2018.06.29","2018.06.29","2018.06.29","2018.06.29",],
                                                    'Mail'  : ['sskcoobbbn4@yahoo.co.jp'],
                                                    'query' : pd.Series(1,index=list(range(4)),dtype='float32'),
                                                    'D' : np.array([3] * 4,dtype='int32'),
                                                    'E' : pd.Categorical(["test","train","test","train"]),
                                                    'F' : 'foo' })

## sql tableを作る

In [ ]:
sql_table = pd.DataFrame({'ID' : ['AAA', 'AAA', 'AAA', 'AAA', 'AAA', 'BBB', 'BBB' ],
                                                'Statement': [
        "SELECT * FROM linnerud_test where jumps > 100;",
        "SELECT * \nFROM iris\nWHERE Species = 'setosa'",
        "SELECT * FROM iris WHERE ...",
        "select x from test order by x collate reverse",
    ]})